h1 {
  /*justify-content: center;
  */
  text-align: center;
  padding-top: 15px;
  /*margin-top: 100px;*/
}

body {
  /*background-image: url("background1.jpg");*/
  background-size: cover;
  color: #565656;
}


p {
  /*text-align: center;*/
  /*width: 100%;*/
  line-height: 1.7em;
  padding-left: 18em;
  padding-right: 18em;

  font-size: 0.2em;
}

li a {
  transition: all 0.5s !important;
  color: #9D9D9D !important;
}

/*a img {
  padding-top: 0.1em;
  transition: all 0.5s !important;
}*/

/*li a img:hover {
  filter: brightness(400%);
}*/

.black-background {
  background-color: #F2F2F2;
}

.github {
  /*height: 100%;*/
  transition: all 0.5s;
  position: absolute;
  top: calc(50% - 7em);
  right: 2em;
  z-index: 1;
  width: 6em;
}

.github:hover {
  filter: brightness(170%);
}

.logo {
  /*left: calc(50% - 5em);*/
  /*margin: auto;*/
  /*top: 1em;*/
  top: calc(50% - 10em);
  left: 1em;
  position: absolute;
  z-index: 1;
  padding-top: 0.2em;
  width: 10em;
}

.card {
  /*justify-content: center;*/
  /*position: relative;
  top: 50%;
  transform: translateY(-50%);*/
  margin: auto;
  /*width: 100vw;*/
}

.addButton {
  background-color: #697EC4;
  /*color: black;*/
}

.addButton:hover {
  background-color: #435387 !important;
}

.transparent {
  background-color: transparent;
}

.showButton {
  /*border-radius: 25px;*/
  border-color: #697EC4;
  color: #141414;
  background-color: white;
}

.showButton:hover {
  background-color: #F2F2F2 !important;
}
