h1 {
  text-align: center;
  padding-top: 15px;
}

body {
  background-size: cover;
  color: #565656;
}


p {
  line-height: 1.7em;
  padding-left: 18em;
  padding-right: 18em;

  font-size: 0.2em;
}

.black-background {
  background-color: #F2F2F2;
}

.github {
  transition: all 0.5s;
  position: absolute;
  top: calc(50% - 7em);
  right: 2em;
  z-index: 1;
  width: 6em;
}

.github:hover {
  filter: brightness(170%);
}

.logo {
  top: calc(50% - 10em);
  left: 1em;
  position: absolute;
  z-index: 1;
  padding-top: 0.2em;
  width: 10em;
}

.card {
  margin: auto;
}

.addButton {
  background-color: #697EC4;
}

.addButton:hover {
  background-color: #435387 !important;
}

.transparent {
  background-color: transparent;
}

.showButton {
  color: #141414;
  background-color: white;
}

.showButton:hover {
  background-color: #F2F2F2 !important;
}

@media only screen and (max-width: 1000px) {
    p {
      padding-left: 5%;
      padding-right: 5%;
    }
    .logo, .github {
      top: 0;
    }
}

@media only screen and (max-width: 800px) {
    .logo, .github {
      width: auto;
      height: 20vh;
    }
    .github {
      right: 0.5em;
    }
}

@media only screen and (max-width: 450px) {
    .logo, .github {
      width: 20vw;
      height: auto;
    }
}
